{
    "presets": ["es2015"],
    "plugins" : ["transform-es2015-modules-systemjs"]
}

// "plugins" : ["transform-es2015-modules-systemjs"]
// Sem a configuração, o Babel não compilará os módulos adequadamente para a 
// importação no System.js. Em seguida, no Terminal, vamos fazer a 
// compilação com o comando build: